body {
    font-family: 'Varela Round', sans-serif;
    color: aliceblue;
    background-image: url(./images/green-pattern.jpg);
    background-position: center;
    margin-top: 20px;
}

.container h1,
h2 {
    text-align: center;
}

form {
    text-align: center;
    margin-top: 20px;
}

.table {
    margin: 0 auto;
    width: 70%;
}

.input-wrapper,
.input-group {
    margin: 0 auto;
    width: 50%;
}

button {
    margin: 20px auto;
    box-shadow: 2px 2px rgb(0, 0, 0);
}

#gameStats {
    margin-top: 30px; 
}

#diceDisplay {
    text-align: center;
    margin: 30px 0px; 
}

.die {
    display: inline-block;
    margin: 20px 10px;
}

#rulesList {
    max-width:70%;
    margin: 0px auto;
    /* align-items: center;  */
}

ol {
    padding: 0; 
}

li {
    text-align: center; 
}

#rules,
#results{
    border: 1px solid aliceblue; 
    margin-bottom: 50px; 
    border-radius: 8px; 
}